In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
tr_df = pd.read_csv('train.csv')

In [6]:
tr_df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [4]:
tr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     550068 non-null  int64
 1   Product_ID                  550068 non-null  object
 2   Gender                      550068 non-null  object
 3   Age                         550068 non-null  object
 4   Occupation                  550068 non-null  int64
 5   City_Category               550068 non-null  object
 6   Stay_In_Current_City_Years  550068 non-null  object
 7   Marital_Status              550068 non-null  int64
 8   Product_Category_1          550068 non-null  int64
 9   Product_Category_2          376430 non-null  float64
 10  Product_Category_3          166821 non-null  float64
 11  Purchase                    550068 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 50.4+ MB

In [5]:
#There are few missing values in Product_category_2 and roduct_Category_3 
#5 object categories whcih will not help us showing the statistical features

In [7]:
tr_df.User_ID.nunique()

5891

In [7]:
tr_df['User_ID'].value_counts()

1001680    1026
1004277     979
1001941     898
1001181     862
1000889     823
           ...
1000094       7
1002111       7
1004991       7
1005608       7
1000708       6
Name: User_ID, Length: 5891, dtype: int64

In [8]:
#User_ID is not completely unique so we can cosider this during model.

In [9]:
tr_df['Product_ID'].nunique()

3631

In [10]:
tr_df['Product_ID'].value_counts()

P00265242    1880
P00025442    1615
P00110742    1612
P00112142    1562
P00057642    1470
             ...
P00348142       1
P00185942       1
P00065942       1
P00169842       1
P00077542       1
Name: Product_ID, Length: 3631, dtype: int64

In [11]:
#Product_ID is also not completely unique so we can cosider this during model.
#Further the dtype is object which has to be converted using encoder for utilizing during model training

In [12]:
tr_df['Age'].nunique()

7

In [13]:
tr_df['Age'].value_counts()

26-35    219587
36-45    110013
18-25     99660
46-50     45701
51-55     38501
55+       21504
0-17      15102
Name: Age, dtype: int64

In [14]:
#The Age feature has values in the form of range which has to be changed.
#Either we can have the average of the age or we can also consider the initital or the final values of each categories

In [15]:
tr_df['Occupation'].nunique()

21

In [16]:
tr_df['Occupation'].value_counts()

4     72308
0     69638
7     59133
1     47426
17    40043
20    33562
12    31179
14    27309
2     26588
16    25371
6     20355
3     17650
10    12930
5     12177
15    12165
11    11586
19     8461
13     7728
18     6622
9      6291
8      1546
Name: Occupation, dtype: int64

In [17]:
#Occupation feature is categorical

In [18]:
tr_df['City_Category'].nunique()

3

In [19]:
tr_df['City_Category'].value_counts()

B    231173
C    171175
A    147720
Name: City_Category, dtype: int64

In [20]:
#More people belongs to city-B. But all the citites have almost equal strength.

In [8]:
#Feature Automation
x = input('Enter the name of the feature: ')
#print(x)
y = tr_df[x]
print('Unique values:', y.nunique())

Enter the name of the feature: Age
Unique values: 7

In [22]:
l = ['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category', 'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1', 'Product_Category_2', 'Product_Category_3', 'Purchase']
for i in l:
    y = tr_df[i]
    print('Unique values of', i, 'is:', y.nunique(), '-------')
    print('Counts of feature', i, 'is:', y.value_counts())

Unique values of User_ID is: 5891 -------
Counts of feature User_ID is: 1001680    1026
1004277     979
1001941     898
1001181     862
1000889     823
           ...
1000094       7
1002111       7
1004991       7
1005608       7
1000708       6
Name: User_ID, Length: 5891, dtype: int64
Unique values of Product_ID is: 3631 -------
Counts of feature Product_ID is: P00265242    1880
P00025442    1615
P00110742    1612
P00112142    1562
P00057642    1470
             ...
P00348142       1
P00185942       1
P00065942       1
P00169842       1
P00077542       1
Name: Product_ID, Length: 3631, dtype: int64
Unique values of Gender is: 2 -------
Counts of feature Gender is: M    414259
F    135809
Name: Gender, dtype: int64
Unique values of Age is: 7 -------
Counts of feature Age is: 26-35    219587
36-45    110013
18-25     99660
46-50     45701
51-55     38501
55+       21504
0-17      15102
Name: Age, dtype: int64
Unique values of Occupation is: 21 -------
Counts of feature Occupation is: 4     72308
0     69638
7     59133
1     47426
17    40043
20    33562
12    31179
14    27309
2     26588
16    25371
6     20355
3     17650
10    12930
5     12177
15    12165
11    11586
19     8461
13     7728
18     6622
9      6291
8      1546
Name: Occupation, dtype: int64
Unique values of City_Category is: 3 -------
Counts of feature City_Category is: B    231173
C    171175
A    147720
Name: City_Category, dtype: int64
Unique values of Stay_In_Current_City_Years is: 5 -------
Counts of feature Stay_In_Current_City_Years is: 1     193821
2     101838
3      95285
4+     84726
0      74398
Name: Stay_In_Current_City_Years, dtype: int64
Unique values of Marital_Status is: 2 -------
Counts of feature Marital_Status is: 0    324731
1    225337
Name: Marital_Status, dtype: int64
Unique values of Product_Category_1 is: 20 -------
Counts of feature Product_Category_1 is: 5     150933
1     140378
8     113925
11     24287
2      23864
6      20466
3      20213
4      11753
16      9828
15      6290
13      5549
10      5125
12      3947
7       3721
18      3125
20      2550
19      1603
14      1523
17       578
9        410
Name: Product_Category_1, dtype: int64
Unique values of Product_Category_2 is: 17 -------
Counts of feature Product_Category_2 is: 8.0     64088
14.0    55108
2.0     49217
16.0    43255
15.0    37855
5.0     26235
4.0     25677
6.0     16466
11.0    14134
17.0    13320
13.0    10531
9.0      5693
12.0     5528
10.0     3043
3.0      2884
18.0     2770
7.0       626
Name: Product_Category_2, dtype: int64
Unique values of Product_Category_3 is: 15 -------
Counts of feature Product_Category_3 is: 16.0    32636
15.0    28013
14.0    18428
17.0    16702
5.0     16658
8.0     12562
9.0     11579
12.0     9246
13.0     5459
6.0      4890
18.0     4629
4.0      1875
11.0     1805
10.0     1726
3.0       613
Name: Product_Category_3, dtype: int64
Unique values of Purchase is: 18105 -------
Counts of feature Purchase is: 7011     191
7193     188
6855     187
6891     184
6960     183
        ...
15105      1
14384      1
10453      1
8537       1
14640      1
Name: Purchase, Length: 18105, dtype: int64

In [23]:
#

In [10]:
tr_df.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173638
Product_Category_3            383247
Purchase                           0
dtype: int64

In [25]:
#Only two features have null values, Lets see the % of those two features
tr_df.isnull().sum()/(len(tr_df))

User_ID                       0.000000
Product_ID                    0.000000
Gender                        0.000000
Age                           0.000000
Occupation                    0.000000
City_Category                 0.000000
Stay_In_Current_City_Years    0.000000
Marital_Status                0.000000
Product_Category_1            0.000000
Product_Category_2            0.315666
Product_Category_3            0.696727
Purchase                      0.000000
dtype: float64

* We see that around 69% missing values in 'Product_Category_3' and 31% in 'Product_Category_2'. We can't remove those rows as the % of missing values are higher, so removal of these rows will result in heavy loss of information.

* There are different ways of replacing the missing values.
1. Removing those datas --> Loss of information
2. Replacing with Mean --> Can be affected by outliers
3. Median --> Most used method
4. Missing value imputation (KNN) --> Most prefered method

In [26]:
#First let us try with median replacement and then move further
tr_df1 = tr_df.fillna(tr_df.median())

In [27]:
tr_df1.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,9.0,14.0,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,9.0,14.0,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,14.0,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,9.0,14.0,7969

In [28]:
tr_df1.isnull().sum()

User_ID                       0
Product_ID                    0
Gender                        0
Age                           0
Occupation                    0
City_Category                 0
Stay_In_Current_City_Years    0
Marital_Status                0
Product_Category_1            0
Product_Category_2            0
Product_Category_3            0
Purchase                      0
dtype: int64

In [29]:
#Converting Age feature with the average of the ranges

In [30]:
 #Repalcing the age 0-17 to 00-17 & 55+ to 55
tr_df1['Age'] = tr_df1['Age'].replace('0-17', '00-17')
tr_df1['Age'] = tr_df1['Age'].replace('55+', '55-55')

In [31]:
tr_df1['Age'].value_counts()

26-35    219587
36-45    110013
18-25     99660
46-50     45701
51-55     38501
55-55     21504
00-17     15102
Name: Age, dtype: int64

In [32]:
tr_df1['Age1'] = tr_df1['Age'].str[0:2]
tr_df1['Age2'] = tr_df1['Age'].str[3:5]
#tr_df1['Age_avg'] = (tr_df1['Age1'] + tr_df1['Age2'])/2

In [33]:
tr_df1['Age1'].value_counts()

26    219587
36    110013
18     99660
46     45701
51     38501
55     21504
00     15102
Name: Age1, dtype: int64

In [34]:
tr_df1['Age2'].value_counts()

35    219587
45    110013
25     99660
55     60005
50     45701
17     15102
Name: Age2, dtype: int64

In [35]:
tr_df1.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,Age1,Age2
0,1000001,P00069042,F,00-17,10,A,2,0,3,9.0,14.0,8370,00,17
1,1000001,P00248942,F,00-17,10,A,2,0,1,6.0,14.0,15200,00,17
2,1000001,P00087842,F,00-17,10,A,2,0,12,9.0,14.0,1422,00,17
3,1000001,P00085442,F,00-17,10,A,2,0,12,14.0,14.0,1057,00,17
4,1000002,P00285442,M,55-55,16,C,4+,0,8,9.0,14.0,7969,55,55

In [36]:
#tr_df1['Age2'] = tr_df1['Age2'].replace('', '00')

In [37]:
#tr_df1.head()

In [38]:
tr_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 14 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     550068 non-null  int64
 1   Product_ID                  550068 non-null  object
 2   Gender                      550068 non-null  object
 3   Age                         550068 non-null  object
 4   Occupation                  550068 non-null  int64
 5   City_Category               550068 non-null  object
 6   Stay_In_Current_City_Years  550068 non-null  object
 7   Marital_Status              550068 non-null  int64
 8   Product_Category_1          550068 non-null  int64
 9   Product_Category_2          550068 non-null  float64
 10  Product_Category_3          550068 non-null  float64
 11  Purchase                    550068 non-null  int64
 12  Age1                        550068 non-null  object
 13  Age2                        550068 non-null  object
dtypes: float64(2), int64(5), object(7)
memory usage: 58.8+ MB

In [39]:
tr_df1['Age1'] = tr_df1['Age1'].astype(int)
tr_df1['Age2'] = tr_df1['Age2'].astype(int)

In [40]:
tr_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 14 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     550068 non-null  int64
 1   Product_ID                  550068 non-null  object
 2   Gender                      550068 non-null  object
 3   Age                         550068 non-null  object
 4   Occupation                  550068 non-null  int64
 5   City_Category               550068 non-null  object
 6   Stay_In_Current_City_Years  550068 non-null  object
 7   Marital_Status              550068 non-null  int64
 8   Product_Category_1          550068 non-null  int64
 9   Product_Category_2          550068 non-null  float64
 10  Product_Category_3          550068 non-null  float64
 11  Purchase                    550068 non-null  int64
 12  Age1                        550068 non-null  int32
 13  Age2                        550068 non-null  int32
dtypes: float64(2), int32(2), int64(5), object(5)
memory usage: 54.6+ MB

In [41]:
tr_df1['Age_avg'] = (tr_df1['Age1'] + tr_df1['Age2']) / 2

In [42]:
tr_df1.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,Age1,Age2,Age_avg
0,1000001,P00069042,F,00-17,10,A,2,0,3,9.0,14.0,8370,0,17,8.5
1,1000001,P00248942,F,00-17,10,A,2,0,1,6.0,14.0,15200,0,17,8.5
2,1000001,P00087842,F,00-17,10,A,2,0,12,9.0,14.0,1422,0,17,8.5
3,1000001,P00085442,F,00-17,10,A,2,0,12,14.0,14.0,1057,0,17,8.5
4,1000002,P00285442,M,55-55,16,C,4+,0,8,9.0,14.0,7969,55,55,55.0

In [43]:
tr_df1['Age_avg'].value_counts()

30.5    219587
40.5    110013
21.5     99660
48.0     45701
53.0     38501
55.0     21504
8.5      15102
Name: Age_avg, dtype: int64

In [44]:
#Remove unwanted features
tr_df1 = tr_df1.drop(['Age','Age1', 'Age2'], axis = 1)

In [45]:
tr_df1.head()

,User_ID,Product_ID,Gender,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,Age_avg
0,1000001,P00069042,F,10,A,2,0,3,9.0,14.0,8370,8.5
1,1000001,P00248942,F,10,A,2,0,1,6.0,14.0,15200,8.5
2,1000001,P00087842,F,10,A,2,0,12,9.0,14.0,1422,8.5
3,1000001,P00085442,F,10,A,2,0,12,14.0,14.0,1057,8.5
4,1000002,P00285442,M,16,C,4+,0,8,9.0,14.0,7969,55.0

In [46]:
#Let us check which features are in object datatype
tr_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     550068 non-null  int64
 1   Product_ID                  550068 non-null  object
 2   Gender                      550068 non-null  object
 3   Occupation                  550068 non-null  int64
 4   City_Category               550068 non-null  object
 5   Stay_In_Current_City_Years  550068 non-null  object
 6   Marital_Status              550068 non-null  int64
 7   Product_Category_1          550068 non-null  int64
 8   Product_Category_2          550068 non-null  float64
 9   Product_Category_3          550068 non-null  float64
 10  Purchase                    550068 non-null  int64
 11  Age_avg                     550068 non-null  float64
dtypes: float64(3), int64(5), object(4)
memory usage: 50.4+ MB

In [47]:
#Stay_In_Current_City_Years - Identifying the number of catagories
tr_df1['Stay_In_Current_City_Years'].value_counts()

1     193821
2     101838
3      95285
4+     84726
0      74398
Name: Stay_In_Current_City_Years, dtype: int64

In [48]:
#Let us replace the catagory 4+ to 4
tr_df1['Stay_In_Current_City_Years'] = tr_df1['Stay_In_Current_City_Years'].replace('4+', '4')

In [49]:
tr_df1['Stay_In_Current_City_Years'].value_counts()

1    193821
2    101838
3     95285
4     84726
0     74398
Name: Stay_In_Current_City_Years, dtype: int64

In [50]:
tr_df1.head()

,User_ID,Product_ID,Gender,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,Age_avg
0,1000001,P00069042,F,10,A,2,0,3,9.0,14.0,8370,8.5
1,1000001,P00248942,F,10,A,2,0,1,6.0,14.0,15200,8.5
2,1000001,P00087842,F,10,A,2,0,12,9.0,14.0,1422,8.5
3,1000001,P00085442,F,10,A,2,0,12,14.0,14.0,1057,8.5
4,1000002,P00285442,M,16,C,4,0,8,9.0,14.0,7969,55.0

In [51]:
tr_df1['Stay_In_Current_City_Years'] = tr_df1['Stay_In_Current_City_Years'].astype(int)

In [52]:
#Converting ProductId feature to int with suitable replacement
tr_df1['Product_ID'] = tr_df1['Product_ID'].str[3:9]
tr_df1['Product_ID'] = tr_df1['Product_ID'].astype(int)

In [53]:
tr_df1.head()

,User_ID,Product_ID,Gender,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,Age_avg
0,1000001,69042,F,10,A,2,0,3,9.0,14.0,8370,8.5
1,1000001,248942,F,10,A,2,0,1,6.0,14.0,15200,8.5
2,1000001,87842,F,10,A,2,0,12,9.0,14.0,1422,8.5
3,1000001,85442,F,10,A,2,0,12,14.0,14.0,1057,8.5
4,1000002,285442,M,16,C,4,0,8,9.0,14.0,7969,55.0

In [54]:
tr_df1['Product_ID'].value_counts()

265242    1880
25442     1615
110742    1612
112142    1562
57642     1470
          ...
133042       1
160742       1
353742       1
70142        1
77342        1
Name: Product_ID, Length: 3631, dtype: int64

In [55]:
tr_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     550068 non-null  int64
 1   Product_ID                  550068 non-null  int32
 2   Gender                      550068 non-null  object
 3   Occupation                  550068 non-null  int64
 4   City_Category               550068 non-null  object
 5   Stay_In_Current_City_Years  550068 non-null  int32
 6   Marital_Status              550068 non-null  int64
 7   Product_Category_1          550068 non-null  int64
 8   Product_Category_2          550068 non-null  float64
 9   Product_Category_3          550068 non-null  float64
 10  Purchase                    550068 non-null  int64
 11  Age_avg                     550068 non-null  float64
dtypes: float64(3), int32(2), int64(5), object(2)
memory usage: 46.2+ MB

In [56]:
#Convert the remaining 'object' type features to catagorical
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [57]:
tr_df1['Gender'] = le.fit_transform(tr_df1['Gender'])
tr_df1['City_Category'] = le.fit_transform(tr_df1['City_Category'])

In [58]:
tr_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     550068 non-null  int64
 1   Product_ID                  550068 non-null  int32
 2   Gender                      550068 non-null  int32
 3   Occupation                  550068 non-null  int64
 4   City_Category               550068 non-null  int32
 5   Stay_In_Current_City_Years  550068 non-null  int32
 6   Marital_Status              550068 non-null  int64
 7   Product_Category_1          550068 non-null  int64
 8   Product_Category_2          550068 non-null  float64
 9   Product_Category_3          550068 non-null  float64
 10  Purchase                    550068 non-null  int64
 11  Age_avg                     550068 non-null  float64
dtypes: float64(3), int32(4), int64(5)
memory usage: 42.0 MB

In [59]:
tr_df1.head()

,User_ID,Product_ID,Gender,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,Age_avg
0,1000001,69042,0,10,0,2,0,3,9.0,14.0,8370,8.5
1,1000001,248942,0,10,0,2,0,1,6.0,14.0,15200,8.5
2,1000001,87842,0,10,0,2,0,12,9.0,14.0,1422,8.5
3,1000001,85442,0,10,0,2,0,12,14.0,14.0,1057,8.5
4,1000002,285442,1,16,2,4,0,8,9.0,14.0,7969,55.0

In [60]:
#Now the data is cleansed and is suitable for Model building
#Splitting the dataset into X and y
X = tr_df1.drop('Purchase', axis=1)
y = tr_df1['Purchase']

In [61]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [62]:
from sklearn import preprocessing
from sklearn import preprocessing 
scaler = preprocessing.StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [63]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(412551, 11)
(137517, 11)
(412551,)
(137517,)

In [64]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression(normalize = True)
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
print(lr.score(X_train, y_train))
print(lr.score(X_test, y_test))

0.1328885991002985
0.13146639362282753

In [65]:
from sklearn.metrics import mean_squared_error
rmse = mean_squared_error(y_test, y_pred)
print(rmse)

21847139.95629534

#Hyperparmeter tuning
from sklearn import metrics
import warnings
warnings.filterwarnings('ignore')
best_rmse = 0
best_parameters = {"a": 0, "b": 0, "c": 0}
# loop over all values for a, b & c
for a in range(1, 11):
    for b in range(1, 11):
        for c in range(1, 11):
            # inititalize model with current parameters
            model = LinearRegression(a, b, c)
            # fit the model
            model.fit(X_train, y_train)
            # make predictions
            preds = model.predict(X_test)
            # calculate accuracy
            rmse = mean_squared_error(y_test, preds)
            # save params if current accuracy
            # is greater than best accuracy
            if rmse > best_rmse:
                best_rmse = rmse
                best_parameters["a"] = a
                best_parameters["b"] = b
                best_parameters["c"] = c
print(best_parameters)

In [66]:
from sklearn.model_selection import cross_val_score
# function to get cross validation scores
def get_cv_scores(model):
    scores = cross_val_score(model,
                             X_train,
                             y_train,
                             cv=5,
                             scoring='r2')
    
    print('CV Mean: ', np.mean(scores))
    print('STD: ', np.std(scores))
    print('\n')

In [67]:
get_cv_scores(lr)

CV Mean:  0.13284406321994988
STD:  0.002393873701341165

In [68]:
#The value of r2 is 0.13 and SD is 0.002 which indicates that the model is performing poorly on the given dataset.
#Let us try some regularization methods

In [69]:
#Ridge method
from sklearn.linear_model import Ridge
# Train model with default alpha=1
ridge = Ridge(alpha=1).fit(X_train, y_train)
# get cross val scores
get_cv_scores(ridge)

CV Mean:  0.13284406333337706
STD:  0.0023938661015393704

In [70]:
# find optimal alpha with grid search
from sklearn.model_selection import GridSearchCV
alpha = [0.001, 0.01, 0.1, 1, 10, 100, 1000]
param_grid = dict(alpha=alpha)
grid = GridSearchCV(estimator=ridge, param_grid=param_grid, scoring='r2', verbose=1, n_jobs=-1)
grid_result = grid.fit(X_train, y_train)
print('Best Score: ', grid_result.best_score_)
print('Best Params: ', grid_result.best_params_)

Fitting 5 folds for each of 7 candidates, totalling 35 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  35 out of  35 | elapsed:    9.0s finished

Best Score:  0.13284406425843595
Best Params:  {'alpha': 10}

In [71]:
#Ridge method
from sklearn.linear_model import Ridge
# Train model with best alpha=10
ridge = Ridge(alpha=10).fit(X_train, y_train)
# get cross val scores
get_cv_scores(ridge)

CV Mean:  0.13284406425843595
STD:  0.002393797705945078

In [72]:
#Trying with Lasso method
from sklearn.linear_model import Lasso
# Train model with default alpha=1
lasso = Lasso(alpha=1).fit(X_train, y_train)
# get cross val scores
get_cv_scores(lasso)

CV Mean:  0.13284367897835145
STD:  0.0023898691493457976

In [73]:
# find optimal alpha with grid search
alpha = [0.001, 0.01, 0.1, 1, 10, 100, 1000]
param_grid = dict(alpha=alpha)
grid = GridSearchCV(estimator=lasso, param_grid=param_grid, scoring='r2', verbose=1, n_jobs=-1)
grid_result = grid.fit(X_train, y_train)
print('Best Score: ', grid_result.best_score_)
print('Best Params: ', grid_result.best_params_)

Fitting 5 folds for each of 7 candidates, totalling 35 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  35 out of  35 | elapsed:    5.0s finished

Best Score:  0.1328440633085594
Best Params:  {'alpha': 0.01}

In [74]:
#Trying with Lasso method
from sklearn.linear_model import Lasso
# Train model with best alpha=0.01
lasso = Lasso(alpha=0.01).fit(X_train, y_train)
# get cross val scores
get_cv_scores(lasso)

CV Mean:  0.1328440633085594
STD:  0.0023938336068102914

In [75]:
# Linear Regression model is not sutiable for the given dataset

In [76]:
#Let us try other models

#SVR
from sklearn.svm import SVR
sv = SVR()
sv.fit(X_train, y_train)

In [77]:
from sklearn import svm
from sklearn.svm import SVR

model = svm.SVR(kernel='rbf', C=1, gamma=0.3)

model.fit(X_train, y_train)
print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

In [78]:
# Testing using Decision Tree Regressor

In [79]:
from sklearn.impute import SimpleImputer
from sklearn.tree import DecisionTreeRegressor

dt = DecisionTreeRegressor(max_depth=10, max_leaf_nodes=5, min_samples_leaf=1)
dt.fit(X_train, y_train)

print(dt.score(X_train, y_train))
print(dt.score(X_test, y_test))

0.43260619410807255
0.42715479426459435

In [80]:
#Testing with Bagging methods

In [81]:
from sklearn.ensemble import BaggingRegressor
from sklearn import tree
from sklearn.ensemble import GradientBoostingRegressor

In [82]:
bg = BaggingRegressor(GradientBoostingRegressor())
bg.fit(X_train, y_train.values.ravel())

print(bg.score(X_train, y_train))
print(bg.score(X_test, y_test))

0.6642103442907432
0.6590434821309837

In [83]:
# Testing using Random Forest Regressor

In [84]:
from sklearn.ensemble import RandomForestRegressor
dt_rf = RandomForestRegressor()
dt_rf = dt_rf.fit(X_train, y_train)

In [85]:
dt_rf.score(X_train, y_train)

0.9587381959412327

In [86]:
test_pred3 = dt_rf.predict(X_test)
dt_rf.score(X_test, y_test)

0.6993757241270873

In [87]:
# Testing using Gradient Boosting Method

In [88]:
from sklearn.ensemble import GradientBoostingRegressor
dt_gb = GradientBoostingRegressor(n_estimators = 350, learning_rate=0.3, max_depth=2)
dt_gb = dt_gb.fit(X_train, y_train)

In [89]:
dt_gb.score(X_train, y_train)

0.6914633304121622

In [90]:
test_pred2 = dt_gb.predict(X_test)
dt_gb.score(X_test, y_test)

0.6858075781497942

In [91]:
# Ada Boosting

In [92]:
from sklearn.ensemble import AdaBoostRegressor
model = AdaBoostRegressor(random_state=1)
model.fit(X_train, y_train)

AdaBoostRegressor(random_state=1)

In [93]:
model.score(X_train,y_train)

0.44945965695128054

In [94]:
model.score(X_test,y_test)

0.4457758934818433

In [95]:
# XGBoost

In [96]:
import xgboost as xgb
model=xgb.XGBRegressor(random_state=1,learning_rate=0.01)
model.fit(X_train, y_train)

[22:05:40] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(learning_rate=0.01, random_state=1)

In [97]:
model.score(X_train,y_train)

-0.03199204558411184

In [98]:
model.score(X_test,y_test)

-0.0365715115460421

In [99]:
# Light Gradient Boosting

In [100]:
import lightgbm as lgb
model = lgb.LGBMRegressor(random_state=1,learning_rate=0.01)
model.fit(X_train, y_train)

LGBMRegressor(learning_rate=0.01, random_state=1)

In [101]:
model.score(X_train,y_train)

0.5734683613535343

In [102]:
model.score(X_test,y_test)

0.5702971085247883

In [103]:
# Cat Boost

In [104]:
from catboost import CatBoostRegressor
model=CatBoostRegressor(random_state=1,learning_rate=0.001)
model.fit(X_train,y_train)

0:	learn: 5023.0265302	total: 573ms	remaining: 9m 32s
1:	learn: 5020.3542414	total: 609ms	remaining: 5m 4s
2:	learn: 5017.7594893	total: 653ms	remaining: 3m 36s
3:	learn: 5015.1793490	total: 693ms	remaining: 2m 52s
4:	learn: 5012.5181138	total: 731ms	remaining: 2m 25s
5:	learn: 5009.8715422	total: 770ms	remaining: 2m 7s
6:	learn: 5007.3177773	total: 818ms	remaining: 1m 56s
7:	learn: 5004.6679032	total: 865ms	remaining: 1m 47s
8:	learn: 5002.0219259	total: 904ms	remaining: 1m 39s
9:	learn: 4999.4635325	total: 946ms	remaining: 1m 33s
10:	learn: 4996.8249676	total: 987ms	remaining: 1m 28s
11:	learn: 4994.1902868	total: 1.03s	remaining: 1m 24s
12:	learn: 4991.5594858	total: 1.07s	remaining: 1m 21s
13:	learn: 4989.0048556	total: 1.13s	remaining: 1m 19s
14:	learn: 4986.3814716	total: 1.17s	remaining: 1m 16s
15:	learn: 4983.8341805	total: 1.21s	remaining: 1m 14s
16:	learn: 4981.2906822	total: 1.26s	remaining: 1m 12s
17:	learn: 4978.6782282	total: 1.3s	remaining: 1m 10s
18:	learn: 4976.1524327	total: 1.34s	remaining: 1m 9s
19:	learn: 4973.6199902	total: 1.38s	remaining: 1m 7s
20:	learn: 4970.9706311	total: 1.42s	remaining: 1m 6s
21:	learn: 4968.4558896	total: 1.47s	remaining: 1m 5s
22:	learn: 4965.9345363	total: 1.51s	remaining: 1m 4s
23:	learn: 4963.3434577	total: 1.55s	remaining: 1m 3s
24:	learn: 4960.7562088	total: 1.59s	remaining: 1m 2s
25:	learn: 4958.2456168	total: 1.64s	remaining: 1m 1s
26:	learn: 4955.6656865	total: 1.69s	remaining: 1m
27:	learn: 4953.0997538	total: 1.73s	remaining: 59.9s
28:	learn: 4950.5998486	total: 1.76s	remaining: 59.1s
29:	learn: 4948.1036810	total: 1.8s	remaining: 58.3s
30:	learn: 4945.5383010	total: 1.84s	remaining: 57.7s
31:	learn: 4943.0669409	total: 1.89s	remaining: 57.2s
32:	learn: 4940.5816667	total: 1.94s	remaining: 56.7s
33:	learn: 4938.1001130	total: 1.97s	remaining: 56.1s
34:	learn: 4935.5930188	total: 2.02s	remaining: 55.6s
35:	learn: 4933.1444480	total: 2.06s	remaining: 55.2s
36:	learn: 4930.5517776	total: 2.11s	remaining: 54.9s
37:	learn: 4928.0944127	total: 2.15s	remaining: 54.3s
38:	learn: 4925.5572516	total: 2.19s	remaining: 53.9s
39:	learn: 4923.0971207	total: 2.23s	remaining: 53.5s
40:	learn: 4920.7565254	total: 2.27s	remaining: 53s
41:	learn: 4918.3035548	total: 2.31s	remaining: 52.7s
42:	learn: 4915.7319679	total: 2.35s	remaining: 52.4s
43:	learn: 4913.2861776	total: 2.39s	remaining: 52s
44:	learn: 4910.7697527	total: 2.43s	remaining: 51.7s
45:	learn: 4908.2667299	total: 2.47s	remaining: 51.3s
46:	learn: 4905.8314081	total: 2.51s	remaining: 50.9s
47:	learn: 4903.3997482	total: 2.56s	remaining: 50.7s
48:	learn: 4900.8975847	total: 2.6s	remaining: 50.5s
49:	learn: 4898.4729838	total: 2.64s	remaining: 50.2s
50:	learn: 4895.9874845	total: 2.68s	remaining: 49.9s
51:	learn: 4893.5698899	total: 2.72s	remaining: 49.7s
52:	learn: 4891.1559363	total: 2.76s	remaining: 49.3s
53:	learn: 4888.7456193	total: 2.81s	remaining: 49.2s
54:	learn: 4886.2644192	total: 2.85s	remaining: 49s
55:	learn: 4883.7380654	total: 2.89s	remaining: 48.7s
56:	learn: 4881.3635830	total: 2.93s	remaining: 48.5s
57:	learn: 4879.0798586	total: 2.97s	remaining: 48.3s
58:	learn: 4876.7123386	total: 3.01s	remaining: 48s
59:	learn: 4874.3230455	total: 3.06s	remaining: 47.9s
60:	learn: 4871.8622353	total: 3.1s	remaining: 47.7s
61:	learn: 4869.4051038	total: 3.14s	remaining: 47.5s
62:	learn: 4866.9608364	total: 3.18s	remaining: 47.3s
63:	learn: 4864.5943813	total: 3.21s	remaining: 47s
64:	learn: 4862.2477921	total: 3.25s	remaining: 46.8s
65:	learn: 4859.8138110	total: 3.3s	remaining: 46.7s
66:	learn: 4857.4578032	total: 3.34s	remaining: 46.6s
67:	learn: 4854.9721978	total: 3.39s	remaining: 46.4s
68:	learn: 4852.6390526	total: 3.43s	remaining: 46.3s
69:	learn: 4850.3946595	total: 3.47s	remaining: 46.1s
70:	learn: 4848.0431965	total: 3.51s	remaining: 45.9s
71:	learn: 4845.6200024	total: 3.55s	remaining: 45.8s
72:	learn: 4843.1605270	total: 3.6s	remaining: 45.7s
73:	learn: 4840.8284708	total: 3.64s	remaining: 45.6s
74:	learn: 4838.3668218	total: 3.68s	remaining: 45.4s
75:	learn: 4835.9572027	total: 3.73s	remaining: 45.3s
76:	learn: 4833.6261456	total: 3.77s	remaining: 45.3s
77:	learn: 4831.2234379	total: 3.83s	remaining: 45.2s
78:	learn: 4828.8992076	total: 3.88s	remaining: 45.2s
79:	learn: 4826.5945700	total: 3.92s	remaining: 45.1s
80:	learn: 4824.2020036	total: 3.97s	remaining: 45s
81:	learn: 4821.8880704	total: 4.02s	remaining: 45s
82:	learn: 4819.5865860	total: 4.07s	remaining: 45s
83:	learn: 4817.1553236	total: 4.11s	remaining: 44.9s
84:	learn: 4814.8120567	total: 4.15s	remaining: 44.7s
85:	learn: 4812.4952862	total: 4.19s	remaining: 44.6s
86:	learn: 4810.2141602	total: 4.24s	remaining: 44.4s
87:	learn: 4807.8445430	total: 4.27s	remaining: 44.3s
88:	learn: 4805.4302534	total: 4.31s	remaining: 44.1s
89:	learn: 4803.1432813	total: 4.35s	remaining: 44s
90:	learn: 4800.8597943	total: 4.39s	remaining: 43.9s
91:	learn: 4798.4557495	total: 4.44s	remaining: 43.8s
92:	learn: 4796.1877151	total: 4.48s	remaining: 43.7s
93:	learn: 4793.8987179	total: 4.52s	remaining: 43.6s
94:	learn: 4791.6619664	total: 4.57s	remaining: 43.5s
95:	learn: 4789.3954662	total: 4.61s	remaining: 43.4s
96:	learn: 4787.1411299	total: 4.65s	remaining: 43.3s
97:	learn: 4784.8815124	total: 4.7s	remaining: 43.2s
98:	learn: 4782.7305617	total: 4.74s	remaining: 43.2s
99:	learn: 4780.3997119	total: 4.78s	remaining: 43s
100:	learn: 4778.1499972	total: 4.82s	remaining: 42.9s
101:	learn: 4775.9280105	total: 4.86s	remaining: 42.8s
102:	learn: 4773.6851393	total: 4.9s	remaining: 42.7s
103:	learn: 4771.4457001	total: 4.95s	remaining: 42.6s
104:	learn: 4769.1396777	total: 4.99s	remaining: 42.5s
105:	learn: 4766.8371523	total: 5.03s	remaining: 42.4s
106:	learn: 4764.5295622	total: 5.07s	remaining: 42.3s
107:	learn: 4762.2254697	total: 5.11s	remaining: 42.2s
108:	learn: 4759.9248706	total: 5.15s	remaining: 42.1s
109:	learn: 4757.5794268	total: 5.2s	remaining: 42.1s
110:	learn: 4755.4018696	total: 5.24s	remaining: 42s
111:	learn: 4753.1882569	total: 5.28s	remaining: 41.9s
112:	learn: 4750.9780405	total: 5.33s	remaining: 41.9s
113:	learn: 4748.7712163	total: 5.38s	remaining: 41.8s
114:	learn: 4746.5760692	total: 5.42s	remaining: 41.7s
115:	learn: 4744.3377372	total: 5.46s	remaining: 41.6s
116:	learn: 4742.0629654	total: 5.5s	remaining: 41.5s
117:	learn: 4739.7434120	total: 5.54s	remaining: 41.4s
118:	learn: 4737.4752987	total: 5.58s	remaining: 41.3s
119:	learn: 4735.2877970	total: 5.63s	remaining: 41.3s
120:	learn: 4733.0262636	total: 5.67s	remaining: 41.2s
121:	learn: 4730.7198041	total: 5.71s	remaining: 41.1s
122:	learn: 4728.5419890	total: 5.76s	remaining: 41.1s
123:	learn: 4726.4841760	total: 5.8s	remaining: 41s
124:	learn: 4724.3128332	total: 5.85s	remaining: 40.9s
125:	learn: 4722.1528338	total: 5.89s	remaining: 40.8s
126:	learn: 4719.9094578	total: 5.93s	remaining: 40.7s
127:	learn: 4717.6698072	total: 5.97s	remaining: 40.7s
128:	learn: 4715.4728588	total: 6.01s	remaining: 40.6s
129:	learn: 4713.2313130	total: 6.06s	remaining: 40.6s
130:	learn: 4711.0094443	total: 6.1s	remaining: 40.5s
131:	learn: 4708.8601856	total: 6.14s	remaining: 40.4s
132:	learn: 4706.6808085	total: 6.18s	remaining: 40.3s
133:	learn: 4704.6371794	total: 6.23s	remaining: 40.3s
134:	learn: 4702.4197054	total: 6.28s	remaining: 40.2s
135:	learn: 4700.1577134	total: 6.31s	remaining: 40.1s
136:	learn: 4697.8991568	total: 6.35s	remaining: 40s
137:	learn: 4695.6440316	total: 6.39s	remaining: 39.9s
138:	learn: 4693.4901381	total: 6.44s	remaining: 39.9s
139:	learn: 4691.3740626	total: 6.49s	remaining: 39.8s
140:	learn: 4689.2534595	total: 6.53s	remaining: 39.8s
141:	learn: 4687.1439118	total: 6.57s	remaining: 39.7s
142:	learn: 4685.0376337	total: 6.61s	remaining: 39.6s
143:	learn: 4682.9268011	total: 6.64s	remaining: 39.5s
144:	learn: 4680.8425602	total: 6.69s	remaining: 39.5s
145:	learn: 4678.6125116	total: 6.74s	remaining: 39.4s
146:	learn: 4676.5112902	total: 6.78s	remaining: 39.3s
147:	learn: 4674.3717078	total: 6.82s	remaining: 39.3s
148:	learn: 4672.3320096	total: 6.86s	remaining: 39.2s
149:	learn: 4670.1604013	total: 6.9s	remaining: 39.1s
150:	learn: 4668.0717059	total: 6.95s	remaining: 39.1s
151:	learn: 4665.9862532	total: 6.99s	remaining: 39s
152:	learn: 4663.9115902	total: 7.04s	remaining: 39s
153:	learn: 4661.8401535	total: 7.08s	remaining: 38.9s
154:	learn: 4659.8336978	total: 7.13s	remaining: 38.9s
155:	learn: 4657.7759602	total: 7.17s	remaining: 38.8s
156:	learn: 4655.5794610	total: 7.21s	remaining: 38.7s
157:	learn: 4653.4774527	total: 7.25s	remaining: 38.7s
158:	learn: 4651.4134075	total: 7.29s	remaining: 38.6s
159:	learn: 4649.3896487	total: 7.34s	remaining: 38.5s
160:	learn: 4647.4271121	total: 7.39s	remaining: 38.5s
161:	learn: 4645.2991637	total: 7.43s	remaining: 38.4s
162:	learn: 4643.2474374	total: 7.47s	remaining: 38.4s
163:	learn: 4641.1989079	total: 7.52s	remaining: 38.3s
164:	learn: 4639.1535711	total: 7.56s	remaining: 38.3s
165:	learn: 4637.1188283	total: 7.6s	remaining: 38.2s
166:	learn: 4635.0378718	total: 7.64s	remaining: 38.1s
167:	learn: 4632.9204551	total: 7.68s	remaining: 38.1s
168:	learn: 4630.8666567	total: 7.72s	remaining: 38s
169:	learn: 4628.8442336	total: 7.78s	remaining: 38s
170:	learn: 4626.8295039	total: 7.81s	remaining: 37.9s
171:	learn: 4624.8421728	total: 7.86s	remaining: 37.8s
172:	learn: 4622.8352261	total: 7.9s	remaining: 37.8s
173:	learn: 4620.8248687	total: 7.95s	remaining: 37.7s
174:	learn: 4618.8241554	total: 7.99s	remaining: 37.7s
175:	learn: 4616.9057665	total: 8.04s	remaining: 37.6s
176:	learn: 4614.8972826	total: 8.08s	remaining: 37.6s
177:	learn: 4612.8919414	total: 8.12s	remaining: 37.5s
178:	learn: 4610.8068299	total: 8.16s	remaining: 37.4s
179:	learn: 4608.8075424	total: 8.2s	remaining: 37.4s
180:	learn: 4606.7691556	total: 8.25s	remaining: 37.3s
181:	learn: 4604.7339436	total: 8.3s	remaining: 37.3s
182:	learn: 4602.7019024	total: 8.34s	remaining: 37.2s
183:	learn: 4600.6801214	total: 8.38s	remaining: 37.2s
184:	learn: 4598.6962982	total: 8.42s	remaining: 37.1s
185:	learn: 4596.5863490	total: 8.46s	remaining: 37s
186:	learn: 4594.6156534	total: 8.51s	remaining: 37s
187:	learn: 4592.6060557	total: 8.57s	remaining: 37s
188:	learn: 4590.7253503	total: 8.62s	remaining: 37s
189:	learn: 4588.7566278	total: 8.66s	remaining: 36.9s
190:	learn: 4586.7980521	total: 8.71s	remaining: 36.9s
191:	learn: 4584.8488644	total: 8.75s	remaining: 36.8s
192:	learn: 4582.8816941	total: 8.8s	remaining: 36.8s
193:	learn: 4580.9542352	total: 8.86s	remaining: 36.8s
194:	learn: 4579.0077383	total: 8.9s	remaining: 36.7s
195:	learn: 4577.2075758	total: 8.95s	remaining: 36.7s
196:	learn: 4575.2667848	total: 8.99s	remaining: 36.6s
197:	learn: 4573.2355521	total: 9.03s	remaining: 36.6s
198:	learn: 4571.2514720	total: 9.07s	remaining: 36.5s
199:	learn: 4569.4897878	total: 9.12s	remaining: 36.5s
200:	learn: 4567.5667265	total: 9.16s	remaining: 36.4s
201:	learn: 4565.5026410	total: 9.21s	remaining: 36.4s
202:	learn: 4563.5941223	total: 9.25s	remaining: 36.3s
203:	learn: 4561.8000383	total: 9.29s	remaining: 36.3s
204:	learn: 4559.7444655	total: 9.33s	remaining: 36.2s
205:	learn: 4557.8443730	total: 9.38s	remaining: 36.2s
206:	learn: 4555.9323779	total: 9.43s	remaining: 36.1s
207:	learn: 4554.0165197	total: 9.46s	remaining: 36s
208:	learn: 4551.9727033	total: 9.5s	remaining: 36s
209:	learn: 4549.9388830	total: 9.55s	remaining: 35.9s
210:	learn: 4548.1583077	total: 9.59s	remaining: 35.9s
211:	learn: 4546.2450508	total: 9.63s	remaining: 35.8s
212:	learn: 4544.2129745	total: 9.68s	remaining: 35.8s
213:	learn: 4542.2721282	total: 9.72s	remaining: 35.7s
214:	learn: 4540.3473122	total: 9.78s	remaining: 35.7s
215:	learn: 4538.4192505	total: 9.83s	remaining: 35.7s
216:	learn: 4536.3987843	total: 9.87s	remaining: 35.6s
217:	learn: 4534.4231582	total: 9.91s	remaining: 35.5s
218:	learn: 4532.4969654	total: 9.95s	remaining: 35.5s
219:	learn: 4530.7992214	total: 9.99s	remaining: 35.4s
220:	learn: 4528.8317489	total: 10s	remaining: 35.4s
221:	learn: 4526.8673564	total: 10.1s	remaining: 35.4s
222:	learn: 4524.9942877	total: 10.1s	remaining: 35.3s
223:	learn: 4522.9936145	total: 10.2s	remaining: 35.2s
224:	learn: 4521.0444419	total: 10.2s	remaining: 35.2s
225:	learn: 4519.1376770	total: 10.3s	remaining: 35.2s
226:	learn: 4517.2760637	total: 10.3s	remaining: 35.1s
227:	learn: 4515.4386003	total: 10.4s	remaining: 35.1s
228:	learn: 4513.5597641	total: 10.4s	remaining: 35s
229:	learn: 4511.5762036	total: 10.4s	remaining: 34.9s
230:	learn: 4509.6964964	total: 10.5s	remaining: 34.9s
231:	learn: 4507.8703894	total: 10.5s	remaining: 34.9s
232:	learn: 4505.9367576	total: 10.6s	remaining: 34.8s
233:	learn: 4504.0718866	total: 10.6s	remaining: 34.7s
234:	learn: 4502.2331962	total: 10.7s	remaining: 34.7s
235:	learn: 4500.3974321	total: 10.7s	remaining: 34.6s
236:	learn: 4498.5474440	total: 10.7s	remaining: 34.6s
237:	learn: 4496.7111674	total: 10.8s	remaining: 34.5s
238:	learn: 4494.9675103	total: 10.8s	remaining: 34.5s
239:	learn: 4493.0117105	total: 10.9s	remaining: 34.4s
240:	learn: 4491.1724017	total: 10.9s	remaining: 34.4s
241:	learn: 4489.3532207	total: 11s	remaining: 34.4s
242:	learn: 4487.5068109	total: 11s	remaining: 34.3s
243:	learn: 4485.6698083	total: 11.1s	remaining: 34.2s
244:	learn: 4483.9782769	total: 11.1s	remaining: 34.2s
245:	learn: 4482.0790171	total: 11.1s	remaining: 34.2s
246:	learn: 4480.2312320	total: 11.2s	remaining: 34.1s
247:	learn: 4478.4286232	total: 11.2s	remaining: 34.1s
248:	learn: 4476.6349336	total: 11.3s	remaining: 34s
249:	learn: 4474.7814353	total: 11.3s	remaining: 34s
250:	learn: 4473.0078013	total: 11.4s	remaining: 33.9s
251:	learn: 4471.2491863	total: 11.4s	remaining: 33.9s
252:	learn: 4469.4486206	total: 11.5s	remaining: 33.8s
253:	learn: 4467.5308713	total: 11.5s	remaining: 33.8s
254:	learn: 4465.7053271	total: 11.5s	remaining: 33.7s
255:	learn: 4463.9309217	total: 11.6s	remaining: 33.7s
256:	learn: 4462.0613282	total: 11.6s	remaining: 33.6s
257:	learn: 4460.2923865	total: 11.7s	remaining: 33.6s
258:	learn: 4458.5203758	total: 11.7s	remaining: 33.5s
259:	learn: 4456.9081728	total: 11.8s	remaining: 33.5s
260:	learn: 4455.2222066	total: 11.8s	remaining: 33.4s
261:	learn: 4453.4581528	total: 11.9s	remaining: 33.4s
262:	learn: 4451.7027671	total: 11.9s	remaining: 33.3s
263:	learn: 4449.8857566	total: 11.9s	remaining: 33.3s
264:	learn: 4448.1050379	total: 12s	remaining: 33.2s
265:	learn: 4446.3093328	total: 12s	remaining: 33.2s
266:	learn: 4444.7343555	total: 12.1s	remaining: 33.2s
267:	learn: 4442.9922452	total: 12.1s	remaining: 33.1s
268:	learn: 4441.1593404	total: 12.2s	remaining: 33.1s
269:	learn: 4439.5828569	total: 12.2s	remaining: 33s
270:	learn: 4437.8427474	total: 12.3s	remaining: 33s
271:	learn: 4436.0117591	total: 12.3s	remaining: 32.9s
272:	learn: 4434.2770451	total: 12.3s	remaining: 32.9s
273:	learn: 4432.5692035	total: 12.4s	remaining: 32.8s
274:	learn: 4430.9923230	total: 12.4s	remaining: 32.8s
275:	learn: 4429.3752655	total: 12.5s	remaining: 32.7s
276:	learn: 4427.5910037	total: 12.5s	remaining: 32.7s
277:	learn: 4425.8687856	total: 12.6s	remaining: 32.7s
278:	learn: 4424.1549821	total: 12.6s	remaining: 32.7s
279:	learn: 4422.3444938	total: 12.7s	remaining: 32.6s
280:	learn: 4420.6660243	total: 12.7s	remaining: 32.6s
281:	learn: 4418.9285661	total: 12.8s	remaining: 32.5s
282:	learn: 4417.1994931	total: 12.8s	remaining: 32.5s
283:	learn: 4415.6014196	total: 12.9s	remaining: 32.4s
284:	learn: 4413.8813829	total: 12.9s	remaining: 32.4s
285:	learn: 4412.0857967	total: 13s	remaining: 32.4s
286:	learn: 4410.2533993	total: 13s	remaining: 32.3s
287:	learn: 4408.5687192	total: 13s	remaining: 32.2s
288:	learn: 4406.8323506	total: 13.1s	remaining: 32.2s
289:	learn: 4405.3031315	total: 13.1s	remaining: 32.2s
290:	learn: 4403.7635730	total: 13.2s	remaining: 32.1s
291:	learn: 4401.9883695	total: 13.2s	remaining: 32.1s
292:	learn: 4400.1711448	total: 13.3s	remaining: 32.1s
293:	learn: 4398.4638930	total: 13.3s	remaining: 32s
294:	learn: 4396.6910425	total: 13.4s	remaining: 32s
295:	learn: 4395.1354365	total: 13.4s	remaining: 31.9s
296:	learn: 4393.4618882	total: 13.5s	remaining: 31.9s
297:	learn: 4391.8024941	total: 13.5s	remaining: 31.8s
298:	learn: 4390.2585969	total: 13.6s	remaining: 31.8s
299:	learn: 4388.5663776	total: 13.6s	remaining: 31.8s
300:	learn: 4386.9920456	total: 13.7s	remaining: 31.7s
301:	learn: 4385.3312741	total: 13.7s	remaining: 31.7s
302:	learn: 4383.6784999	total: 13.7s	remaining: 31.6s
303:	learn: 4381.8889118	total: 13.8s	remaining: 31.6s
304:	learn: 4380.2126380	total: 13.8s	remaining: 31.5s
305:	learn: 4378.5245717	total: 13.9s	remaining: 31.5s
306:	learn: 4376.7861567	total: 13.9s	remaining: 31.4s
307:	learn: 4375.1407495	total: 14s	remaining: 31.4s
308:	learn: 4373.4022823	total: 14s	remaining: 31.3s
309:	learn: 4371.7191666	total: 14.1s	remaining: 31.3s
310:	learn: 4370.0440149	total: 14.1s	remaining: 31.2s
311:	learn: 4368.5095047	total: 14.1s	remaining: 31.2s
312:	learn: 4366.9780051	total: 14.2s	remaining: 31.1s
313:	learn: 4365.4593456	total: 14.2s	remaining: 31.1s
314:	learn: 4363.7939034	total: 14.3s	remaining: 31.1s
315:	learn: 4362.0339547	total: 14.3s	remaining: 31s
316:	learn: 4360.3472756	total: 14.4s	remaining: 31s
317:	learn: 4358.6893679	total: 14.4s	remaining: 30.9s
318:	learn: 4357.1967974	total: 14.5s	remaining: 30.9s
319:	learn: 4355.5538333	total: 14.5s	remaining: 30.9s
320:	learn: 4353.9595273	total: 14.6s	remaining: 30.8s
321:	learn: 4352.3064866	total: 14.6s	remaining: 30.8s
322:	learn: 4350.6063108	total: 14.7s	remaining: 30.7s
323:	learn: 4349.0058008	total: 14.7s	remaining: 30.7s
324:	learn: 4347.3055920	total: 14.8s	remaining: 30.6s
325:	learn: 4345.6625844	total: 14.8s	remaining: 30.6s
326:	learn: 4344.1777885	total: 14.8s	remaining: 30.5s
327:	learn: 4342.5819492	total: 14.9s	remaining: 30.5s
328:	learn: 4340.8913457	total: 14.9s	remaining: 30.4s
329:	learn: 4339.2741104	total: 15s	remaining: 30.4s
330:	learn: 4337.5885648	total: 15s	remaining: 30.3s
331:	learn: 4336.0266483	total: 15s	remaining: 30.3s
332:	learn: 4334.3462099	total: 15.1s	remaining: 30.2s
333:	learn: 4332.6684805	total: 15.1s	remaining: 30.2s
334:	learn: 4331.1849080	total: 15.2s	remaining: 30.1s
335:	learn: 4329.5663776	total: 15.2s	remaining: 30.1s
336:	learn: 4327.9926097	total: 15.3s	remaining: 30s
337:	learn: 4326.3293648	total: 15.3s	remaining: 30s
338:	learn: 4324.6637885	total: 15.4s	remaining: 30s
339:	learn: 4323.0973477	total: 15.4s	remaining: 29.9s
340:	learn: 4321.6813804	total: 15.5s	remaining: 29.9s
341:	learn: 4320.2232397	total: 15.5s	remaining: 29.8s
342:	learn: 4318.5966875	total: 15.6s	remaining: 29.8s
343:	learn: 4317.1320253	total: 15.6s	remaining: 29.8s
344:	learn: 4315.5763192	total: 15.7s	remaining: 29.7s
345:	learn: 4314.1162655	total: 15.7s	remaining: 29.7s
346:	learn: 4312.5034660	total: 15.7s	remaining: 29.6s
347:	learn: 4311.1021605	total: 15.8s	remaining: 29.6s
348:	learn: 4309.5556355	total: 15.8s	remaining: 29.5s
349:	learn: 4308.1048024	total: 15.9s	remaining: 29.5s
350:	learn: 4306.5210354	total: 15.9s	remaining: 29.4s
351:	learn: 4304.9446763	total: 16s	remaining: 29.4s
352:	learn: 4303.3660511	total: 16s	remaining: 29.3s
353:	learn: 4301.8317254	total: 16.1s	remaining: 29.3s
354:	learn: 4300.2999208	total: 16.1s	remaining: 29.3s
355:	learn: 4298.7754024	total: 16.2s	remaining: 29.2s
356:	learn: 4297.3509088	total: 16.2s	remaining: 29.2s
357:	learn: 4295.7845543	total: 16.2s	remaining: 29.1s
358:	learn: 4294.2207610	total: 16.3s	remaining: 29.1s
359:	learn: 4292.7921569	total: 16.4s	remaining: 29.1s
360:	learn: 4291.1383965	total: 16.4s	remaining: 29s
361:	learn: 4289.5920946	total: 16.4s	remaining: 29s
362:	learn: 4287.9796665	total: 16.5s	remaining: 28.9s
363:	learn: 4286.4278156	total: 16.5s	remaining: 28.9s
364:	learn: 4285.0797171	total: 16.6s	remaining: 28.8s
365:	learn: 4283.5325092	total: 16.6s	remaining: 28.8s
366:	learn: 4281.9995205	total: 16.7s	remaining: 28.7s

In [105]:
model.score(X_train,y_train)

0.4770968995785567

In [106]:
model.score(X_test,y_test)

0.47454982661000245

In [107]:
from mlxtend.regressor import StackingRegressor

In [108]:
lr = LinearRegression()
#svr_lin = SVR(kernel='linear')
ridge = Ridge(random_state=1)
#svr_rbf = SVR(kernel='rbf')
lasso = Lasso()
tree = DecisionTreeRegressor(max_depth=10, max_leaf_nodes=5, min_samples_leaf=1)
gb = GradientBoostingRegressor(n_estimators = 350, learning_rate=0.3, max_depth=2)
rf = RandomForestRegressor()
ad = AdaBoostRegressor(random_state=1)


stregr = StackingRegressor(regressors=[lr, ridge, lasso, tree, gb, rf, ad], 
                           meta_regressor=gb)

# Training the stacking classifier

stregr.fit(X_train, y_train)
s = stregr.score(X_train, y_train)
s1 = stregr.score(X_test,y_test)

# Evaluate and visualize the fit

print("Mean Squared Error: %.4f"
      % np.mean((stregr.predict(X_train) - y_train) ** 2))
print('Variance Score: %.4f' % stregr.score(X_train, y_train))
print('Train_Accuracy:', s)
print('Test_Accuracy:', s)

Mean Squared Error: 412033.6184
Variance Score: 0.9837
Train_Accuracy: 0.983686252946921
Test_Accuracy: 0.983686252946921

In [109]:
test_set = pd.read_csv('test.csv')

In [110]:
test_set.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,M,46-50,7,B,2,1,1,11.0,NaN
1,1000009,P00113442,M,26-35,17,C,0,0,3,5.0,NaN
2,1000010,P00288442,F,36-45,1,B,4+,1,5,14.0,NaN
3,1000010,P00145342,F,36-45,1,B,4+,1,4,9.0,NaN
4,1000011,P00053842,F,26-35,1,C,1,0,4,5.0,12.0

In [111]:
test_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233599 entries, 0 to 233598
Data columns (total 11 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     233599 non-null  int64
 1   Product_ID                  233599 non-null  object
 2   Gender                      233599 non-null  object
 3   Age                         233599 non-null  object
 4   Occupation                  233599 non-null  int64
 5   City_Category               233599 non-null  object
 6   Stay_In_Current_City_Years  233599 non-null  object
 7   Marital_Status              233599 non-null  int64
 8   Product_Category_1          233599 non-null  int64
 9   Product_Category_2          161255 non-null  float64
 10  Product_Category_3          71037 non-null   float64
dtypes: float64(2), int64(4), object(5)
memory usage: 19.6+ MB

In [112]:
ts_df1 = test_set.head(233599)

In [113]:
ts_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233599 entries, 0 to 233598
Data columns (total 11 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     233599 non-null  int64
 1   Product_ID                  233599 non-null  object
 2   Gender                      233599 non-null  object
 3   Age                         233599 non-null  object
 4   Occupation                  233599 non-null  int64
 5   City_Category               233599 non-null  object
 6   Stay_In_Current_City_Years  233599 non-null  object
 7   Marital_Status              233599 non-null  int64
 8   Product_Category_1          233599 non-null  int64
 9   Product_Category_2          161255 non-null  float64
 10  Product_Category_3          71037 non-null   float64
dtypes: float64(2), int64(4), object(5)
memory usage: 19.6+ MB

In [114]:
 #Repalcing the age 0-17 to 00-17 & 55+ to 55
ts_df1['Age'] = ts_df1['Age'].replace('0-17', '00-17')
ts_df1['Age'] = ts_df1['Age'].replace('55+', '55-55')
ts_df1['Age1'] = ts_df1['Age'].str[0:2]
ts_df1['Age2'] = ts_df1['Age'].str[3:5]
#ts_df1['Age_avg'] = (ts_df1['Age1'] + ts_df1['Age2'])/2
ts_df1['Age1'] = ts_df1['Age1'].astype(int)
ts_df1['Age2'] = ts_df1['Age2'].astype(int)
ts_df1['Age_avg'] = (ts_df1['Age1'] + ts_df1['Age2']) / 2
#Remove unwanted features
ts_df1 = ts_df1.drop(['Age','Age1', 'Age2'], axis = 1)
#Let us replace the catagory 4+ to 4
ts_df1['Stay_In_Current_City_Years'] = ts_df1['Stay_In_Current_City_Years'].replace('4+', '4')
ts_df1['Stay_In_Current_City_Years'] = ts_df1['Stay_In_Current_City_Years'].astype(int)
#Converting ProductId feature to int with suitable replacement
ts_df1['Product_ID'] = ts_df1['Product_ID'].str[3:9]
ts_df1['Product_ID'] = ts_df1['Product_ID'].astype(int)
#Label Encoding
ts_df1['Gender'] = le.fit_transform(ts_df1['Gender'])
ts_df1['City_Category'] = le.fit_transform(ts_df1['City_Category'])

In [115]:
ts_df1.head()

,User_ID,Product_ID,Gender,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Age_avg
0,1000004,128942,1,7,1,2,1,1,11.0,NaN,48.0
1,1000009,113442,1,17,2,0,0,3,5.0,NaN,30.5
2,1000010,288442,0,1,1,4,1,5,14.0,NaN,40.5
3,1000010,145342,0,1,1,4,1,4,9.0,NaN,40.5
4,1000011,53842,0,1,2,1,0,4,5.0,12.0,30.5

In [116]:
ts_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233599 entries, 0 to 233598
Data columns (total 11 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     233599 non-null  int64
 1   Product_ID                  233599 non-null  int32
 2   Gender                      233599 non-null  int32
 3   Occupation                  233599 non-null  int64
 4   City_Category               233599 non-null  int32
 5   Stay_In_Current_City_Years  233599 non-null  int32
 6   Marital_Status              233599 non-null  int64
 7   Product_Category_1          233599 non-null  int64
 8   Product_Category_2          161255 non-null  float64
 9   Product_Category_3          71037 non-null   float64
 10  Age_avg                     233599 non-null  float64
dtypes: float64(3), int32(4), int64(4)
memory usage: 16.0 MB

In [121]:
ts_df1.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2             72344
Product_Category_3            162562
Age_avg                            0
dtype: int64

In [122]:
ts_df1 = ts_df1.fillna(ts_df1.median())

In [123]:
#Standaradizing the test_dataset
test = scaler.transform(ts_df1)

In [124]:
pred = stregr.predict(test)

In [125]:
pred

array([13231.51305355, 10192.06974156,  5269.13588906, ...,
       12065.75253093, 15567.35835276,  2805.61255253])

In [126]:
#Converting to dataframe
import pandas as pd
predict = pd.DataFrame(pred, columns = ['Purchase'])
predict.head()

       Purchase
0  13231.513054
1  10192.069742
2   5269.135889
3   2381.899852
4   2756.339754

In [127]:
#Saving it in excel and csv formats
predict.to_csv("Sales_Prediction.csv")
predict.to_excel("Sales_Prediction.xlsx")